@model C___MVC.Dto.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner_page_agile">
    <h3>Change Password</h3>
    <p>Please enter the required information to change your password.</p>
</div>
<!--//banner -->
<!--/w3_short-->
<div class="services-breadcrumb_w3layouts">
    <div class="inner_breadcrumb">
        <ul class="short_w3ls" _w3ls>
            <li><a href="index.html">Home</a><span>|</span></li>
            <li>Change Password</li>
        </ul>
    </div>
</div>
<div class="inner_content_info_agileits">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle three">Change your password</h3>
        </div>
        <!-- Hiển thị TempData nếu có -->
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">
                @TempData["success"]
            </div>
            TempData.Remove("success");
        }
       
        <div class="inner_sec_grids_info_w3ls">
            <div class="signin-form">
                <div class="login-form-rec">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form asp-action="ChangePassword" method="post">
                        <div class="form-group">
                            <input type="email" asp-for="Email" placeholder="Email" required readonly />
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="OldPassword" placeholder="OldPassword" required />
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="NewPassword" placeholder="NewPassword" required />
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword" required />
                        </div>
                        <div class="tp">
                            <input type="submit" value="Change Password" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


